@use "@angular/material" as mat;

main {
  display: flex;
  flex-wrap: wrap;
  height: 100dvh;

  aside {
    flex: 1;
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary)
  }

  section {
    flex: 3;
    overflow-y: auto;
  }
}